$color-primary:darken(#eee,60%);
$color-danger:red;
$color-success:green;
$color-alert:#4f2f02;
$font-mini:12px;
$font-s:14px;
$font-m:16px;
$font-l:18px;
$font-b:20px;
$font-logo:'Pacifico', cursive;



